src/main/mule/cicd-wtz.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39fc01ec-b55b-4708-8822-30a86a17618a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6e391308-ac7a-437a-9da2-7a0fb7aad398" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="cicd-wtzFlow" doc:id="5477e2b0-4ff9-496b-a603-6fb3f718f389" >
		<http:listener doc:name="Listener" doc:id="03baa337-9736-4e33-919e-430fb8ee596c" config-ref="HTTP_Listener_config" path="/wtzapp/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="7e1fa564-26cd-40d1-8bca-e5ee6838b130" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
